// vim: ft=named
// this server is named {{ host.name }} and listens to {{ host.ip }}

options
{
    /* make named use port 53 for the source of all queries, to allow
     * firewalls to block all ports except 53:
     */
    listen-on-v6 { any; };
    listen-on { 127.0.0.1;  {{ host.ip }}; };
    directory "/var/named";

    transfer-source {{ host.ip }};
    allow-transfer { dns_servers; };

    allow-query { any; };
    allow-recursion { localhost; {{ allow_recursion }}; };
    recursion yes;
};

controls {
    inet 127.0.0.1 allow {localhost;};
};

acl "dns_servers" {
    127.0.0.1;
    ::1;
    {% for server in axfr_allowed | std.split(" ") %}{{ server }};
    {% endfor %}
};

// Slave zones
{% for slave_zone in slave_zones %}zone "{{ slave_zone.domain }}" IN {
    type slave;
    file "slaves/{{ slave_zone.domain }}.db";
    masters {
        {{ slave_zone.master.host.ip }};
    };
    transfer-source {{ host.ip }};
    notify no;
};
{% endfor %}

// Master zones
{% for master_zone in master_zones %}zone "{{ master_zone.domain }}" IN {
    type master;
    file "master/{{ master_zone.domain }}.db";
};
{% endfor %}

// additional config
{{ additional_config }}
